/*
File: multtable.css
Created by Sebastian Gyger
Part of HW3 for GUI I at UMass Lowell
This is a stylesheet to format the dynamic multiplication table.
*/

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.25em;
}

form {
    width: 250px;
    border: 2px solid;
    border-radius: 12px;
    padding: 0px 12px;
    margin-left: auto;
    margin-right: auto;
}

label {
    float: left;
    width: 180px;
    margin: 4px;
}

input {
    margin: 4px;
}

input[type=number] {
    border-radius: 4px;
    width: 3em;
}

input[type=submit] {
    width: 65px;
    display: block;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightgray;
}